.appContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--background-light);
}

.mainContent {
  flex: 1; 
  padding: 2rem;

  /* --- ADICIONE ESTAS LINHAS --- */
  width: 100%; /* Garante que o layout seja responsivo em telas pequenas */
  max-width: 150vh; /* Define a largura máxima. Ajuste se achar muito largo. */
  margin-left: auto; /* Centra o contêiner */
  margin-right: auto; /* Centra o contêiner */
}