.logo-section {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: inherit;
}

.logo-text {
    font-family: var(--font-destaque);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--cor-texto-principal);
    letter-spacing: 9px;
}

.brain-icon {
    width: 40px;
    height: 40px;
}
